* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main-bg {
    background-color: bisque;
    min-height: 100vh;
}

.logo {
    font-weight: 600;
}

.custom-container {
    padding: 20px 0px;
}

.light-box-image {
    width: 100px;
}

.custom-card {
    margin-bottom: 20px;
}

.error-message {
    color: "red" !important;
    align-self: flex-end;
    display: block;
    margin: 0px;
}

.custom-card-image {
    width: 100px !important;
}

.navigation-header {
    background-color: aqua;
}